<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default site.Language.Lang  }}" >
{{- partial "head.html" . -}}

<body>
  {{- partial "header.html" . -}}
  <main>
    {{- block "main" . }}{{- end }}
  </main>
  {{- partial "footer.html" . -}}
</body>

</html>
