<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/css/w3.css">
  <link rel="stylesheet" href="/css/style.css">

  <title>{{ .Site.Title }}</title>
</head>
