<nav class="w3-bar w3-black">

  <a class="w3-bar-item" href="{{ .Site.Home.RelPermalink}}">
    {{ site.Title}}
  </a>


  {{ if .IsTranslated }}

  {{ range .Translations }}

  <a class="w3-bar-item" href="{{ .RelPermalink }}">{{ .Lang }}</a>

  {{ end}}

  {{ end }}


  {{ if .Site.Menus.main }}
  {{ range .Site.Menus.main }}

  <a class="w3-bar-item" href="{{ .URL }}" title="{{ i18n " pageTitle" . }}">
    {{ .Name }}
  </a>

  {{ end }}


  {{ end }}


</nav>
