{{ define "main" }}

<section class="w3-container">
  {{.Content}}
</section>

<section class="w3-container">

  {{ $mainSections := .Site.Params.mainSections | default (slice "blog") }}
  {{/* Create a variable with that section to use in multiple places. */}}
  {{ $section := where .Site.RegularPages "Section" "in" $mainSections }}

  {{ $section_name := index (.Site.Params.mainSections) 0 }}
  {{ with .Site.GetPage "section" $section_name }}
  <header>
    <h3>
      {{ i18n "recentTitle" . }}
    </h3>
  </header>

  {{ end }}

  {{ $n_posts := $.Param "recent_posts_number" | default 3 }}

  <ul class="w3-ul w3-hoverable">
    {{ range (first $n_posts $section) }}
    <li>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </li>
    {{ end }}

  </ul>
</section>

{{ end }}
